main {
    width: calc(100% - 100px);
    height: auto;
    margin-left: 100px;
}

#top {
    width: 60%;
    padding: 0 20%;
    min-height: 100vh;
    background: #FFFFFF url('../assets/background.png') repeat center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}