main {
    background: #202020;
}

#topTitle {
    grid-area: title;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topTitle h1 {
    font-size: 3em;
    text-align: center;
}

#topTitle h1 span.accent {
    color: #FECD18;
}

#topContent {
    grid-area: content;
    width: 100%;
    height: 100%;
}

#topContent p {
    width: 100%;
    height: auto;
    text-align: justify;
}

#topRubrix {
    grid-area: rubrix;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rubrixLink {
    font-weight: 800;
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrowSpanRubrix {
    margin-left: 25px;
}

#top {
    width: 100%;
    min-height: calc(75vh - 1px);
    height: auto;
    background: #FFFFFF url('../assets/background.png') repeat center;
    display: grid;
    grid-template-columns: 10% 30% 20% 30% 10%;
    grid-template-rows: 5% 15% 5% 60% 5% 5% 5%;
    grid-template-areas: 
        ". . . . ."
        ". title title title ."
        ". . . . ."
        ". content content content ."
        ". . . . ."
        ". . rubrix . ."
        ". . . . .";
}

#center {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

#center span.divider {
    border-top: 1px solid #E9E9E9;
}

#center div.section {
    height: 100px;
    width: 60%;
    padding: 50px 20%;
    display: flex;
    justify-content: space-between;
}

#center div.section div {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#center div.section div:nth-child(2) {
    align-items: center;
}

#center a:hover {
    color: #000000;
}

#center div h1 {
    font-size: 1.5em;
    color: #000000;
}

#center div h2 {
    font-size: 0.9em;
    color: #7D7D7D;
}

.arrow {
    width: 24px;
    height: 24px;
}

.arrowPath {
    fill: rgba(0, 0, 0, 0.7);
}

.itemLink {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    z-index: 3;
    background: #000000;
    background: -webkit-linear-gradient(to left, #434343, #000000);
    background: linear-gradient(to left, #434343, #000000);
    background-position: center center;
    background-size: cover;
    border-top: 1px solid #E9E9E9;
}

.itemLink:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: 0.5s;
}

.itemLink:hover:before {
    width: 0%;
}

.itemLink:hover {
    cursor: pointer;
}

span.arrowSpan {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  z-index: 1;
  text-decoration: none;
  color: #000000;
}

span.arrowSpan.hovered {
  color: #FFFFFF;
  transition: 0.5s;
}

span.arrowSpan:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 48px;
  text-align: center;
}

span.arrowSpan:after {
  content: "";
  color: #000000;
  width: 48px;
  height: 48px;
  background-color: #FECD18;
  position: absolute;
  border-radius: 50%;
  top: -12px;
  left: -12px;
  transform: scale(0);
  transition: 0.5s;
  z-index: -1;
}

span.arrowSpan.hovered:after {
  transform: scale(1);
}

.sprintHeader {
    background: #FFFFFF;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E9E9E9;
}

#center div.sprintHeader h1 {
	font-size: 2.25em;
}

.accent {
    color: #FECD18;
}

#separator {
    width: 100px;
}

.coolLine {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
}

#filter {
    background: #FFFFFF;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #E9E9E9;
}

#contentFilter h2 {
    padding-bottom: 1vh;
}

#contentFilter div:last-child {
	display: flex;
    justify-content: space-around;
}

#contentFilter div span {
    cursor: pointer;
}

#contentFilter div span:hover {
    text-decoration: underline;
}

#contentFilter div span.activeFilterOption {
    font-weight: 700;
}

#bottom {
    width: 100%;
    height: 25vh;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#backtoHome {
    width: 45%;
    padding-left: 5%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.arrowSpanBTH {
    transform: rotate(180deg);
    margin-right: 2%;
}

#backLine {
    height: 25vh;
    border-right: 1px solid #E9E9E9;
}

#backtoTop {
    width: 45%;
    padding-right: 5%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.arrowSpanBTT {
    transform: rotate(270deg);
    margin-left: 2%;
}

.footerLink {
    font-weight: 700;
}